{% extends "base.html" %}

{% block title %}Manage Products{% endblock %}

{% block content %}
<h1>Product List</h1>
<a href="{{ url_for('create_product_view') }}" class="button"><i class="fas fa-plus-square"></i> Create New Product</a>

{% if products %}
<table>
    <thead>
        <tr>
            <th class="product-list-header">Product ID</th> <!-- New Header -->
            <th class="product-list-header">Name</th>
            <th class="product-list-header">Category</th>
            <th class="product-list-header">Subcategory</th>
            <th class="product-list-header">Unit of Measure</th>
            <th class="product-list-header">Default Expiry (Days)</th>
            <th class="product-list-header">Par Level</th>
            <th class="product-list-header">Max Holding</th>
            <th class="product-list-header">Purchase Location</th>
            <th class="product-list-header">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td> <!-- New Cell -->
            <td>{{ product.name }}</td>
            <td>{{ product.category if product.category is not none else '' }}</td>
            <td>{{ product.subcategory if product.subcategory is not none else '' }}</td>
            <td>{{ product.unit_of_measure }}</td>
            <td>{{ product.default_expiry_days }}</td>
            <td>{{ product.par_level if product.par_level is not none else '' }}</td>
            <td>{{ product.max_holding_amount if product.max_holding_amount is not none else '' }}</td>
            <td>{{ product.purchase_location if product.purchase_location is not none else '' }}</td>
            <td>
                <a href="{{ url_for('edit_product_view', product_id=product.id) }}" class="button button-small"><i class="fas fa-edit"></i> Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No products found. <a href="{{ url_for('create_product_view') }}" class="button"><i class="fas fa-plus-square"></i> Create one now!</a></p>
{% endif %}
{% endblock %}
